.sign-in-bg {
  background-color: #4ba5bd;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  height: 400px;
  border-radius: 15px;
}

.sign-in-bg img {
  transform: translateY(-45px);
}

.sign-in-bg h1 {
  font-size: 2.3rem;
  color: #242423;
  font-weight: bold;
  margin: 0;
  transform: translateY(-30px);
}

.sign-in-bg input {
  width: 240px;
  height: 30px;
  margin-bottom: 24px;
  border-radius: 5px;
  border: none;
  padding: 0 1rem;
  outline: none;
  background-color: #d9d9d9;
}

.sign-in-bg button {
  align-self: center;
  background-color: #c6ecae;
  outline: none;
  border: none;
  width: 276px;
  border-radius: 6px;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.7rem;
  transition: background-color 0.3s ease;
}

.sign-in-bg button:hover {
  cursor: pointer;
  background-color: #a0c08d;
}

.sign-in-bg p {
  font-size: 0.8rem;
  color: #333533;
}

.sign-in-bg p:hover {
  cursor: pointer;
  text-decoration: underline;
}
