:root {
    --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
    --rsbs-bg: rgb(51, 53, 51);
    --rsbs-handle-bg: hsla(0, 0%, 100%, 0.5);
    --rsbs-max-w: auto;
    --rsbs-ml: env(safe-area-inset-left);
    --rsbs-mr: env(safe-area-inset-right);
    --rsbs-overlay-rounded: 16px;
}

.ScooterDetailSlide-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ScooterDetailSlide-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #d5573b;
}

.ScooterDetailSlide-container img {
    background-color: rgba(75, 164, 189, 0.774);
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    height: 200px;
    overflow: hidden;
}

.ScooterDetailSlide-list {
    color: white;
    list-style: none;
    text-align: left;
    font-weight: bold;
    margin-bottom: 2rem;
}

.ScooterDetailSlide-container button {
    background-color: #4ba5bd;
    color: #fff;
    height: 40px;
    min-width: 220px;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
